name: rakkess CI
on:
  push:
    branches:
      - '*'
    tags:
      - 'v*.*.*'
  pull_request:
    branches:
      - '*'

jobs:

  build:
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.13
      uses: actions/setup-go@v1
      with:
        go-version: 1.13
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Add GOPATH/bin to PATH
      # temporary fix
      # see https://github.com/actions/setup-go/issues/14
      run: |
        set -euo pipefail
        echo "##[set-env name=GOPATH;]$(dirname $GITHUB_WORKSPACE)"
        echo "##[add-path]$(dirname $GITHUB_WORKSPACE)/bin"

    - name: Verify go.mod is sane
      run: go mod tidy && git diff --no-patch --exit-code

    - name: Run code lint
      run: make lint

    - name: Install dependencies
      run: go mod download

    - name: Run unit tests
      run: |
        set -euo pipefail
        make test
        make coverage

    - uses: codecov/codecov-action@v1
      name: Upload coverage to codecov.io
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ./out/coverage.txt

    - name: Verify build
      run: make dev

    - name: Make binaries
      if: contains(github.ref, 'tags')
      run: |
        set -euo pipefail
        hack/install-gox.sh
        make deploy

    - name: Create release
      if: contains(github.ref, 'tags')
      id: create_release
      uses: actions/create-release@v1.0.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        release_name: Release ${{ github.ref }}
        draft: false
        prerelease: false

    - name: Upload binaries to release
      if: contains(github.ref, 'tags')
      uses: svenstaro/upload-release-action@v1-release
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        # hacky glob pattern because this does not accept multiple patterns
        file: out/{access-matrix,rakkess}-amd64-*.{tar,zip}*
        tag: ${{ github.ref }}
        overwrite: true
        file_glob: true
